# Bundler cache
.bundle
vendor
# Gemfile.lock  # 取消注释以提交到仓库，让源代码插件能识别 Ruby 依赖

# Jekyll cache
.jekyll-cache
.jekyll-metadata
_site

# RubyGems
*.gem

# NPM dependencies
node_modules
package-lock.json

# IDE configurations
.idea
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/tasks.json

# Misc
_sass/vendors
assets/js/dist

# Hidden system files
*~
.DS_Store
Thumbs.db
